<div class="add-event-margin">
    <div class="new-label"><span>New event for the date {{month}}/{{day}}/{{year}}</span></div>
    <input type="hidden" id="dateValue" name="dateValue" value="{{dateToAdd}}">
    <div class="view-label"><label for="title">Title</label></div>
    <div class="field-text"><input type="text" class="form-control" placeholder="E.g. Grocery Shopping" id="title" name="title" value="{{title}}"/></div>
    <div class="view-label"><label for="location">Location</label></div>
    <div class="field-text"><input type="text" class="form-control" placeholder="E.g. Walmart" id="location" name="location" value="{{location}}"/></div>
    <div class="view-label"><label for="description">Description</label></div>
    <div class="field-text"><textarea class="form-control" placeholder="Description of the event" id="description" name="description" value="{{description}}"></textarea></div>

    <div class="btn-margin">
	  	<div class="error error-danger hidden " id="sp-error-container-down">
			<div  id="sp-error-text-down" ></div>
		 </div>
		<div class="form-group form-grp-div"><div class="add-btn-div"><button type="submit" id="addEvent" class="add-btn">Add</button></div>
        {{#if monthCheck}}
        <div class="btn-value"><a href="/monthly/" id="goHome" class="home-btn">Home</a></div>
        {{else}}
        <div class="btn-value"><a href="/daily/" id="goHome" class="home-btn">Home</a></div>
        {{/if}}
        </div>
    </div>
</div>
