<div class="dailyContainer">
    <div class="events">
        
        <div class="eventList">
            <div class="eventsTitle">Events for {{today.namedDay}}, {{today.namedMonth}} {{today.day}}</div>
            <div class="eventsValue">
            {{#if availableEvents}}
            {{#each today.events.events}}
                <div><a href="getEvent/{{this.id}}">* {{this.title}}</a></div>
            {{/each}}
            {{else}}
                <div style="color:#CA4532">Click below to add a new event</div>
            {{/if}}
            </div>
            <div class="addEvent">
			<form id="addEvnt-form" method="post" action="/monthly/addevent">
			<input type="hidden" id="dateValue" name="dateValue" value="{{dateValue}}">
            <input type="hidden" id="checkValue" name="checkValue" value="N">
			<button type="submit" id="p-submit" class="eventBtn" style="">AddEvent</button>
			</form>
		    </div>

        </div>
        <div class="futureInformation">
            <div> This {{today.namedDay}} is the {{today.nthDay}}th day of this year.</div>
            <div> There are {{today.nthDayRemaining}} days left in {{today.year}}.</div>
        </div>
    </div>
    <div class="dateValues">

            <div class=" grid-cell"><div><div><form id="prevDate-form" method="get" action="/daily/prev"><button type="submit" id="prevDay" class="btn btn-default"><span>&#10094;</span></button></form></div></div></div>
            {{#each previousDays}}
            <div class=" grid-cell not-cur-day"><div><div><span><a href="/daily/{{this.date}}">{{this.month}} / {{this.day}}</a></span></div></div></div>
            {{/each}}

			<div class=" grid-cell cur-day"><div><div><span style="font-weight:bold">{{today.month}} / {{today.day}}</span></div></div></div>
            <div class=" grid-cell cur-day-year"><div><div style="padding:5%"> {{today.month}}/{{today.day}}/{{today.year}}</div></div></div>
            {{#each nextDays}}
            <div class=" grid-cell not-cur-day"><div><div><span><a href="/daily/{{this.date}}">{{this.month}} / {{this.day}}</a></span></div></div></div>
            {{/each}}

			<div class=" grid-cell"><div><div><form id="nextDate-form" method="get" action="/daily/next"><button type="submit" id="nextDay" class="btn btn-default"><span>&#10095;</span></button></form></div></div></div>
			
    </div>
</div>