<div class="container">
    <div class="heading">Calendar</div>
	<div class="firstRow">
		<div class="monthDisplay">	 

			<div class="prev"><div><form id="prevMonth-form" method="get" action="/monthly/prev"><button type="submit" id="prevMonth" class="btn btn-default">&#10094;</button></form></div></div>
			<div class="monthValue">
				{{currentMonth}}<br>
                {{currentYear}}
            </div>
            <div class="next"><div><form id="nextMonth-form" method="get" action="/monthly/next"><button type="submit" id="nextMonth" class="btn btn-default">&#10095;</button></form></div></div>
            
		</div>
		<div class="addEvent">
			<form id="addEvnt-form" method="post" action="/monthly/addevent">
			<input type="hidden" id="dateValue" name="dateValue" value="{{dateValue}}">
			<input type="hidden" id="checkValue" name="checkValue" value="Y">
			<button type="submit" id="p-submit" class="eventBtn">Add Event</button>
			</form>
		</div>

	</div>

	<div class="calenderData">
			<div class="dayRow"><div><div><span>Sun</span></div></div></div>
			<div class="dayRow"><div><div><span>Mon</span></div></div></div>
			<div class="dayRow"><div><div><span>Tue</span></div></div></div>
			<div class="dayRow"><div><div><span>Wed</span></div></div></div>
			<div class="dayRow"><div><div><span>Thu</span></div></div></div>
			<div class="dayRow"><div><div><span>Fri</span></div></div></div>
			<div class="dayRow"><div><div><span>Sat</span></div></div></div>
			{{#each prevMonth}}
				<div class=" grid-cell previous-month"><div><div><span>{{this.day}}</span></div></div></div>
			{{/each}}

			{{#each currMonth}}
				{{#if this.events.events}}
				<div class=" grid-cell">
					<div>
						<div>
							<span class="dayIngrid">{{this.day}}</span>
							<div class="dateIngrid">{{this.dayVal}}, {{this.month}} {{this.day}}</div>
							<div class="dayevents" id="dayevents">
								{{#each this.events.events}}
									<div><a href="getEvent/{{this.id}}">* {{this.title}}</a></div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				{{else}}
				<div class=" grid-cell no-events">
					<div>
						<div>
							<span class="dayIngrid">{{this.day}}</span>
							<div class="dayevents" id="dayevents">
								{{#each this.events.events}}
									<div><a href="getEvent/{{this.id}}">{{this.title}}</a></div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				{{/if}}
			
			{{/each}}
			{{#each nextMonth}}
				<div class=" grid-cell next-month"><div><div><span>{{this.day}}</span></div></div></div>
			{{/each}}
	</div>
</div>
